name: Java CI with Gradle
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
- name: Build with Gradle
      # This tells GitHub to enter your folder before running the command
      working-directory: stasis-client-template-1.21.11
      run: |
        chmod +x gradlew
        ./gradlew build
